@using Quantumart.QP8.BLL
@using Quantumart.QP8.Resources
@using Quantumart.QP8.Utils
@model Quantumart.QP8.WebMvc.ViewModels.HomePage.IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = typeof(Startup).Assembly.GetCommitHash();
}

<head>
  <title>@Model.Title</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link href="~/Content/QP8/favicon.ico" rel="shortcut icon" />

  <link rel="stylesheet" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/kendo/kendo.blueopal.min.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/build/app.css?sha=" + version)" />
  <link rel="stylesheet" href="@Url.Action("CustomCss", "Css")" />

  <script>
    window.CKEDITOR_BASEPATH = "@Url.Content("~/Content/ckeditor/")";
  </script>
</head>

<body data-dbhash="@Model.DbHash">
  <div id="page" class="twoColumnLayout">
    <div id="header" class="main-header">
      <div id="communicationMessage" class="communicationMessage">
        <span class="singleusermode"></span>
      </div>
      <div class="enableDebugMode">
        <button class="btn-list">Enable debug mode</button>
      </div>
      <div id="userInformation" class="userInformation">
        @GlobalStrings.UserInfo_Label_LoggedInAs <span data-userid="@QPContext.CurrentUserId" data-groupids="@string.Join(",", QPContext.CurrentGroupIds)" class="userName">@QPContext.CurrentUserName</span>
        @Html.ActionLink(GlobalStrings.UserInfo_Link_Exit, "LogOut", "LogOn", null, new { @class = "signOut" })
      </div>
    </div>

    <div class="t-widget t-splitter-horizontal" id="splitter">
      <div class="t-pane corners" id="leftMenu">
        <div id="menuContainer" style="display:none;">
          <div class="lineTop"></div>
          <em class="tl"></em>
          <em class="tr"></em>
          <em class="bl"></em>
          <em class="br"></em>
          <div id="tree">
            <div class="t-widget t-treeview t-reset" id="MainTreeMenu"></div>
          </div>
          <div class="lineBottom"></div>
        </div>
      </div>

      <div class="t-pane content t-scrollable" id="content">
        <div>
          <div id="tabs"><div class="tabStrip" id="MainTabStrip"></div></div>
          <div id="editingArea" class="vertical-layout corners">
            <div class="lineTop"></div>
            <em class="tl"></em>
            <em class="tr"></em>
            <em class="bl"></em>
            <em class="br"></em>
            <div id="breadCrumbs"></div>
            <div id="toolbar">
              <div id="actionToolbar"></div>
              <div id="viewToolbar"></div>
            </div>
            <div id="document" class="vertical-layout vertical-layout__main">
              <div id="context"></div>
              <div id="search"></div>
            </div>
            <div class="lineBottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="@Url.Content("~/Scripts/build/vendors.js?sha=" + version)"></script>
  <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")"></script>
  <script src="@Url.Content("~/Scripts/Quantumart/JsConstants.ashx")"></script>
  <script src="@Url.Content("~/Scripts/Quantumart/JsLanguage.ashx")"></script>
  <script src="@Url.Content("~/signalr/hubs")"></script>
  <script src="@Url.Content("~/Scripts/build/app.js?sha=" + version)"></script>

  <script type="text/javascript">
    CKEDITOR.timestamp = '@DateTime.Now.Ticks';
    var isDebugMode = @Converter.ToJsString(HttpContext.Current.IsDebuggingEnabled);
    var backend = Quantumart.QP8.Backend.getInstance(isDebugMode, @Model.BackendComponentOptions);
    Url.SetRootPath("@Url.Content("~/")");

    $(document).ready(function () {
      $('#MainTreeMenu').tTreeView();
      $('#splitter').tSplitter({ panes: [{ scrollable: false, size: '20%', minSize: '50px', maxSize: '400px' }, {}] });
    });
  </script>
</body>
