@using Quantumart.QP8.Utils
@using Quantumart.QP8.Resources
@using Quantumart.QP8.BLL
@using Quantumart.QP8.WebMvc.ViewModels.HomePage;

@model IndexViewModel

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <title>@Model.Title</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8;IE=9" />
  <link href="~/Content/QP8/favicon.ico" rel="shortcut icon" />

  @{
        const string jsVersion = "6.28";
    var jsVersionFileName = $"Quantumart/version.{jsVersion}.js";
  }

  <link rel="stylesheet" href="@Url.Content("~/Content/build/app.min.css")">
  <link rel="stylesheet" href="@Url.Action("CustomCss", "Css")">

  <script>
    window.CKEDITOR_BASEPATH = "@Url.Content("~/Content/ckeditor/")";
  </script>
</head>

<body data-dbhash="@Model.DbHash">
  <div id="page" class="twoColumnLayout">
    <div id="header">
      <div id="serviceActions">
        @if (HttpContext.Current.IsDebuggingEnabled)
        {
          <a href="javascript:void(0);" id="traceWindowLink" class="js">@GlobalStrings.ServiceActions_Link_TraceConsole</a>
        }
      </div>

      <div id="communicationMessage">
        <span class="singleusermode"></span>
      </div>

      <div id="userInformation">
        @GlobalStrings.UserInfo_Label_LoggedInAs <span data-userid="@QPContext.CurrentUserId" class="userName">@QPContext.CurrentUserName</span>
        @Html.ActionLink(GlobalStrings.UserInfo_Link_Exit, "LogOut", "LogOn", null, new { @class = "signOut" })
      </div>
    </div>

    @{Html.Telerik().Splitter()
        .Name("splitter")
        .Orientation(SplitterOrientation.Horizontal)
        .Panes(panes =>
        {
          panes.Add().Content(
            @<div id="menuContainer" style="display:none;">
              <div class="lineTop"></div>
              <em class="tl"></em>
              <em class="tr"></em>
              <em class="bl"></em>
              <em class="br"></em>
              <div id="tree">
                @(Html.Telerik().TreeView().Name("MainTreeMenu"))
              </div>
              <div class="lineBottom"></div>
            </div>)
          .Size("270px")
          .MinSize("50px")
          .MaxSize("400px")
          .Collapsible(false)
          .Resizable(true)
          .Scrollable(false)
          .HtmlAttributes(new { id = "leftMenu", @class = "corners" });

          panes.Add().Content(
            @<div>
              <div id="tabs"><div class="tabStrip" id="MainTabStrip"></div></div>
              <div id="editingArea" class="corners"><div class="lineTop"></div>
                <em class="tl"></em>
                <em class="tr"></em>
                <em class="bl"></em>
                <em class="br"></em>
                <div id="breadCrumbs"></div>
                <div id="toolbar"><div id="actionToolbar"></div><div id="viewToolbar"></div></div>
                <div id="document"><div id="context"></div><div id="search"></div></div>
                <div class="lineBottom"></div>
              </div>
            </div>
          ).HtmlAttributes(new { id = "content", @class = "content" });
        }).Render();
    }
  </div>

  @{
    var allowCombineScripts = !HttpContext.Current.IsDebuggingEnabled;
  }

  @(Html.Telerik().ScriptRegistrar()
      .DefaultGroup(g => g.Enabled(false))
        .Scripts(js => js.AddGroup("CommonLibraries", g => g
          .Add("es5-shim.js")
          .Add("jquery/jquery-1.7.1.js")
          .Add("telerik/telerik.common.js")
          .Add("Quantumart/jQueryExtensions.js")
          .Add("microsoft/MicrosoftAjax.js")
          .Add("Quantumart/MicrosoftAjaxTraceExtensions.js")
          .Add("json2.js")
          .Add("Silverlight.js")
          .Add("pmrpc.js")
          .Add("underscore.js")
          .Add("knockout.js")
          .Add(jsVersionFileName)
          .Combined(allowCombineScripts)
        )
          .AddGroup("jQueryPlugins", g => g
            .Add("jquery/jquery.cookie.js")
            .Add("jquery/jquery.timers.js")
            .Add("jquery/jquery.scrollTo-1.4.2.js")
            .Add("jquery/jquery.splitter.js")
            .Add("jquery/jquery.form.js")
            .Add("jquery/jquery.validate.js")
            .Add("jquery/jquery.jeegoocontext.js")
            .Add("jquery/jquery.verticalResizer.js")
            .Add("jquery/jquery.qtip.js")
            .Add("jquery/jquery.imgareaselect.js")
            .Add("jquery/jquery.nouislider.link.js")
            .Add("jquery/jquery.nouislider.js")
            .Add("jquery/jquery.signalR-2.2.0.js")
            .Add(jsVersionFileName)
            .Combined(allowCombineScripts)
          ).AddGroup("TelerikControls", g => g
            .Add("telerik/telerik.draganddrop.js")
            .Add("telerik/telerik.treeview.js")
            .Add("telerik/telerik.window.js")
            .Add("telerik/telerik.textbox.js")
            .Add("telerik/telerik.combobox.js")
            .Add("telerik/telerik.calendar.js")
            .Add("telerik/telerik.datepicker.js")
            .Add("telerik/telerik.timepicker.js")
            .Add("telerik/telerik.datetimepicker.js")
            .Add("telerik/telerik.grid.js")
            .Add("telerik/telerik.grid.resizing.js")
            .Add("telerik/telerik.grid.filtering.js")
            .Add("telerik/telerik.grid.grouping.js")
            .Add("telerik/telerik.grid.editing.js")
            .Add("telerik/telerik.upload.js")
            .Add("telerik/telerik.splitter.js")
            .Add(jsVersionFileName)
            .Combined(allowCombineScripts)
          )
          .Add("Quantumart/JsConstants.ashx")
          .Add("Quantumart/JsLanguage.ashx")
          .Add("~/signalr/hubs")
          .AddGroup("CodeMirrorScripts", g => g
              .Add("~/Content/codemirror/lib/codemirror.js")
              .Add("~/Content/codemirror/mode/clike/clike.js")
              .Add("~/Content/codemirror/mode/sql/sql.js")
              .Add("~/Content/codemirror/mode/xml/xml.js")
              .Add("~/Content/codemirror/mode/css/css.js")
              .Add("~/Content/codemirror/mode/vb/vb.js")
              .Add("~/Content/codemirror/mode/javascript/javascript.js")
              .Add("~/Content/codemirror/mode/htmlmixed/htmlmixed.js")
              .Add("~/Content/codemirror/mode/htmlembedded/htmlembedded.js")
              .Add(jsVersionFileName)
              .Combined(allowCombineScripts)
            ).AddGroup("PlUploadScripts", g => g
              .Add("PlUpload/moxie.js")
              .Add("PlUpload/plupload.dev.js")
              .Add("Quantumart/Uploader/plupload/plupload.filters.js")
              .Add(jsVersionFileName)
              .Combined(allowCombineScripts)
            ).AddGroup("CkEditorScripts", g => g
              .Add("~/Content/ckeditor/ckeditor.js")
              .Add("Quantumart/ckeditor/aspell/plugin.js")
              .Add("Quantumart/ckeditor/typographer/plugin.js")
              .Add("Quantumart/ckeditor/globalSettings.js")
              .Add(jsVersionFileName)
              .Combined(allowCombineScripts)
          ).AddGroup("QuantumartScripts", g => g
              .Add("Quantumart/Utils.js")
              .Add("Quantumart/Cache.js")
              .Add("Quantumart/Common.js")
              .Add("Quantumart/ControlHelpers.js")
              .Add("Quantumart/Info/BackendEntityType.js")
              .Add("Quantumart/Info/BackendEntityObject.js")
              .Add("Quantumart/Info/BackendActionType.js")
              .Add("Quantumart/BackendActionExecutor.js")
              .Add("Quantumart/BackendSplitter.js")
              .Add("Quantumart/BackendContextMenu.js")
              .Add("Quantumart/BackendBreadCrumbs.js")
              .Add("Quantumart/Tree/BackendTreeBase.js")
              .Add("Quantumart/Tree/BackendTreeMenu.js")
              .Add("Quantumart/Tree/BackendEntityTree.js")
              .Add("Quantumart/Tree/BackendActionPermissionTree.js")
              .Add("Quantumart/BackendTabStrip.js")
              .Add("Quantumart/Toolbar/BackendToolbar.js")
              .Add("Quantumart/Toolbar/BackendActionToolbar.js")
              .Add("Quantumart/Toolbar/BackendViewToolbar.js")
              .Add("Quantumart/Search/BackendSearchBlockBase.js")
              .Add("Quantumart/Search/BackendSearchInArticle.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/FieldSearchBase.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/IdentifierFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/BooleanFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/DateOrTimeRangeFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/NumericRangeFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/RelationFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/TextFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/StringEnumFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/ClassifierFieldSearch.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/FullTextBlock.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/FieldSearchBlock.js")
              .Add("Quantumart/Search/BackendArticleSearchBlock/FieldSearchContainer.js")
              .Add("Quantumart/Search/BackendContentSearchBlock.js")
              .Add("Quantumart/Search/BackendUserSearchBlock.js")
              .Add("Quantumart/Search/BackendUserAndGroupSearchBlock.js")
              .Add("Quantumart/Search/BackendContextBlock.js")
              .Add("Quantumart/Document/BackendDocumentHostStateStorage.js")
              .Add("Quantumart/Document/BackendDocumentHost.js")
              .Add("Quantumart/Document/BackendDocumentContext.js")
              .Add("Quantumart/Document/BackendEditingDocument.js")
              .Add("Quantumart/Document/BackendEditingArea.js")
              .Add("Quantumart/Document/BackendPopupWindow.js")
              .Add("Quantumart/BackendEntityGrid.js")
              .Add("Quantumart/List/BackendEntityDataListBase.js")
              .Add("Quantumart/List/BackendEntityDropDownList.js")
              .Add("Quantumart/List/BackendEntityCheckBoxList.js")
              .Add("Quantumart/List/BackendEntitySingleItemPicker.js")
              .Add("Quantumart/List/BackendEntityMultipleItemPicker.js")
              .Add("Quantumart/List/BackendSelectPopupWindow.js")
              .Add("Quantumart/List/BackendSettingsPopupWindow.js")
              .Add("Quantumart/BackendActionLink.js")
              .Add("Quantumart/BackendTraceWindow.js")
              .Add("Quantumart/BackendLogOnWindow.js")
              .Add("Quantumart/Library/BackendLibrary.js")
              .Add("Quantumart/Library/BackendPager.js")
              .Add("Quantumart/Library/BackendFileList.js")
              .Add("Quantumart/Library/BackendFileNameListView.js")
              .Add("Quantumart/Library/BackendFilePreviewListView.js")
              .Add("Quantumart/Mediators/BackendFieldProperties.js")
              .Add("Quantumart/Editor/BackendFileField.js")
              .Add("Quantumart/Mediators/BackendVirtualContentProperties.js")
              .Add("Quantumart/Mediators/ContentDefaultFilters.js")
              .Add("Quantumart/Editor/BackendVirtualFieldTree.js")
              .Add("Quantumart/Editor/BackendEntityEditor.js")
              .Add("Quantumart/Mediators/BackendNotificationProperties.js")
              .Add("Quantumart/Mediators/BackendTemplateObjectProperties.js")
              .Add("Quantumart/Mediators/BackendPagePropertiesMediator.js")
              .Add("Quantumart/Editor/LibraryPopupWindow.js")
              .Add("Quantumart/Editor/BackendVisualEditor.js")
              .Add("Quantumart/Editor/BackendAggregationList.js")
              .Add("Quantumart/Editor/BackendWorkflowEditor.js")
              .Add("Quantumart/Editor/BackendHightedTextAreaEditor.js")
              .Add("Quantumart/Editor/BackendEditorsAutoSaver.js")
              .Add("Quantumart/Editor/BackendClassifierField.js")
              .Add("Quantumart/Uploader/IBackendUploader.js")
              .Add("Quantumart/Uploader/BackendHtmlUploader.js")
              .Add("Quantumart/Uploader/BackendPlUploader.js")
              .Add("Quantumart/Uploader/BackendSilverlightUploader.js")
              .Add("Quantumart/Audit/ActionLogComponent.js")
              .Add("Quantumart/Audit/ActionLogFilterTile.js")
              .Add("Quantumart/Audit/ActionLogFilterBase.js")
              .Add("Quantumart/Audit/ActionLogTextFilter.js")
              .Add("Quantumart/Audit/ActionLogDatetimeFilter.js")
              .Add("Quantumart/Audit/ActionLogItemListFilter.js")
              .Add("Quantumart/Audit/ActionLogUserFilter.js")
              .Add("Quantumart/SearchInCodeComponent.js")
              .Add("Quantumart/CustomAction/CustomActionProperties.js")
              .Add("Quantumart/CustomAction/QP8BackendApi.Interaction.js")
              .Add("Quantumart/CustomAction/BackendCustomActionHost.js")
              .Add("Quantumart/ActionPermissions/BackendActionPermissionView.js")
              .Add("Quantumart/Managers/BackendBreadCrumbsManager.js")
              .Add("Quantumart/Managers/BackendEntityGridManager.js")
              .Add("Quantumart/Managers/BackendEntityTreeManager.js")
              .Add("Quantumart/Managers/BackendEntityEditorManager.js")
              .Add("Quantumart/Managers/BackendTreeMenuContextMenuManager.js")
              .Add("Quantumart/Managers/BackendContextMenuManager.js")
              .Add("Quantumart/Managers/BackendEntityDataListManager.js")
              .Add("Quantumart/Managers/BackendPopupWindowManager.js")
              .Add("Quantumart/Managers/BackendLibraryManager.js")
              .Add("Quantumart/Managers/BackendSearchBlockManager.js")
              .Add("Quantumart/Managers/BackendActionPermissionViewManager.js")
              .Add("Quantumart/Managers/BackendCustomActionHostManager.js")
              .Add("Quantumart/MultistepAction/BackendProgressBar.jquery.js")
              .Add("Quantumart/MultistepAction/BackendMultistepActionWindow.js")
              .Add("Quantumart/MultistepAction/Settings/BackendMultistepBaseSettings.js")
              .Add("Quantumart/MultistepAction/Settings/BackendMultistepImportSettings.js")
              .Add("Quantumart/MultistepAction/Settings/BackendMultistepExportSettings.js")
              .Add("Quantumart/MultistepAction/Settings/BackendMultistepCopySiteSettings.js")
              .Add("Quantumart/EntityPermissions/BackendChildEntityPermissionList.js")
              .Add("Quantumart/BackendDirectLinkExecutor.js")
              .Add("Quantumart/BackendExpandedContainer.js")
              .Add("Quantumart/BackendLogin.js")
              .Add("Quantumart/Backend.js")
              .Add("Quantumart/BackendImageCropResizeClient.js")
              .Add("Quantumart/Home.js")
              .Add(jsVersionFileName)
              .Combined(allowCombineScripts)
          )
      ).Globalization(true))

<script>
    CKEDITOR.timestamp = '@jsVersion';
    var isDebugMode = @Converter.ToJsString(HttpContext.Current.IsDebuggingEnabled);
    var backend = Quantumart.QP8.Backend.getInstance(isDebugMode, @Model.BackendComponentOptions);
  </script>
</body>
