@using Quantumart.QP8.BLL
@using Quantumart.QP8.Resources
@using Quantumart.QP8.Utils
@model Quantumart.QP8.WebMvc.ViewModels.HomePage.IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <title>@Model.Title</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link href="~/Content/QP8/favicon.ico" rel="shortcut icon" />

  <link rel="stylesheet" href="@Url.Content("~/Content/build/app.css?sha=" + Model.Version)" />
  <link rel="stylesheet" href="@Url.Action("CustomCss", "Css")" />

  <script>
    window.CKEDITOR_BASEPATH = "@Url.Content("~/Content/ckeditor/")";
  </script>
</head>

<body data-dbhash="@Model.DbHash">
  <div id="page" class="twoColumnLayout">
    <div id="header" class="main-header">
      <div id="communicationMessage" class="communicationMessage">
        <span class="singleusermode"></span>
      </div>
      <div class="enableDebugMode">
        <button class="btn-list">Enable debug mode</button>
      </div>
      <div id="userInformation" class="userInformation">
        @GlobalStrings.UserInfo_Label_LoggedInAs <span data-userid="@QPContext.CurrentUserId" data-groupids="@string.Join(",", QPContext.CurrentGroupIds)" class="userName">@QPContext.CurrentUserName</span>
        @Html.ActionLink(GlobalStrings.UserInfo_Link_Exit, "LogOut", "LogOn", null, new { @class = "signOut" })
      </div>
    </div>

    @{Html.Telerik().Splitter()
                    .Name("splitter")
                    .Orientation(SplitterOrientation.Horizontal)
                    .Panes(panes =>
                    {
                    panes.Add().Content(
                        @<div id="menuContainer" style="display:none;">
                          <div class="lineTop"></div>
                          <em class="tl"></em>
                          <em class="tr"></em>
                          <em class="bl"></em>
                          <em class="br"></em>
                          <div id="tree">
                            @(Html.Telerik().TreeView().Name("MainTreeMenu"))
                          </div>
                          <div class="lineBottom"></div>
                        </div>)
          .Size("20%")
          .MinSize("50px")
          .MaxSize("400px")
          .Collapsible(false)
          .Resizable(true)
          .Scrollable(false)
          .HtmlAttributes(new { id = "leftMenu", @class = "corners" });

                    panes.Add().Content(
                        @<div>
                          <div id="tabs"><div class="tabStrip" id="MainTabStrip"></div></div>
                          <div id="editingArea" class="vertical-layout corners">
                            <div class="lineTop"></div>
                            <em class="tl"></em>
                            <em class="tr"></em>
                            <em class="bl"></em>
                            <em class="br"></em>
                            <div id="breadCrumbs"></div>
                            <div id="toolbar">
                              <div id="actionToolbar"></div>
                              <div id="viewToolbar"></div>
                            </div>
                            <div id="document" class="vertical-layout vertical-layout__main">
                              <div id="context"></div>
                              <div id="search"></div>
                            </div>
                            <div class="lineBottom"></div>
                          </div>
                        </div>
          ).HtmlAttributes(new { id = "content", @class = "content" });
                    }).Render();
    }
  </div>

  <script src="@Url.Content("~/Scripts/build/vendors.js?sha=" + Model.Version)"></script>

  <script src="@Url.Content("~/Scripts/Quantumart/JsConstants.ashx")"></script>
  <script src="@Url.Content("~/Scripts/Quantumart/JsLanguage.ashx")"></script>
  <script src="@Url.Content("~/signalr/hubs")"></script>

  <script src="@Url.Content("~/Scripts/build/app.js?sha=" + Model.Version)"></script>
  @(Html.Telerik().ScriptRegistrar().DefaultGroup(g => g.Enabled(false)).Globalization(true))

  <script>
      CKEDITOR.timestamp = '@DateTime.Now.Ticks';
      var isDebugMode = @Converter.ToJsString(HttpContext.Current.IsDebuggingEnabled);
      var backend = Quantumart.QP8.Backend.getInstance(isDebugMode, @Model.BackendComponentOptions);
      Url.SetRootPath("@Url.Content("~/")");
  </script>
</body>
