@using Quantumart.QP8.BLL.Services.DTO
@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.UserGroup.UserGroupListViewModel

@using (Html.BeginDocumentPadding())
{
  if (Model.ShowAddNewItemButton)
  {
    using (Html.BeginLinkButtonsList())
    {
      @Html.AddNewItemLink(Model)
    }
  }

  <div id="@Model.MainComponentId"></div>
  <script>
    $(function () {
      $(`#${'@Model.MainComponentId'}`).qpGrid({
        columns: [
          { field: 'Id', title: '@EntityObjectStrings.ID', attributes: { 'class': 'id' }, width: 50 },
          { field: 'Name', title: '@EntityObjectStrings.Name', attributes: { 'class': 'title' } },
          { field: 'Description', title: '@EntityObjectStrings.Description' },
          {
            field: 'SharedArticles',
            title: '@UserGroupStrings.SharedArticles',
            template: '<input type="checkbox" disabled name="SharedArticles" value="#:SharedArticlesChecked#" />',
            attributes: { 'class': 'isCentered' },
            headerAttributes: { 'class': 'isCentered' },
          },
          { field: 'Modified', title: '@EntityObjectStrings.Modified' },
          { field: 'LastModifiedByUser', title: '@EntityObjectStrings.LastModifiedBy' },
          { field: 'Created', title: '@EntityObjectStrings.Created' },
        ],
        dataSource: {
          transport: {
            read: {
              url: "@Url.Action(Model.GettingDataActionName, "UserGroup", new { tabId = Model.TabId, parentId = Model.ParentEntityId } )",
            },
          },
          pageSize: @Default.GridPageSize,
        },
      });
    });
  </script>
}

@Html.PrepareAndRunInitScript(Model)
