@using Quantumart.QP8.Configuration
@using Quantumart.QP8.Resources
@using Quantumart.QP8.Utils
@model Quantumart.QP8.BLL.LogOnCredentials

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var version = typeof(Startup).Assembly.GetCommitHash();
}

<head>
  <title>Login page</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link rel="stylesheet" href="@Url.Content("~/Static/build/app-logon.css?sha=" + version)" />
</head>
<body>
  <div id="page" class="loginFormLayout">
    <div id="content" class="content">
      @using (Html.BeginForm("Index", "LogOn"))
      {
        <div class="formLayout">
          @if (Model.UseAutoLogin && QPConfiguration.Options.ExternalAuthentication.ShowAutoLoginMessage)
          {
            <div>
              <p>@LogOnStrings.InfoMessage_Welcome</p>
              <p>@Html.Raw(string.Format(LogOnStrings.InfoMessage_AutoLogin, Model.NtUserName, ViewBag.AutoLoginLinkQuery))</p>
            </div>
          }

          @if (!Model.UseAutoLogin && QPConfiguration.Options.ExternalAuthentication.AllowLoginWithCredentials)
          {
            <p>@LogOnStrings.InfoMessage_Welcome</p>
            @Html.TextBoxFieldFor(p => p.UserName)
            @Html.PasswordFieldFor(p => p.Password)
          }
          @if (ViewBag.AllowSelectCustomerCode)
          {
            @Html.SelectFieldFor(p => p.CustomerCode, (IEnumerable<QPSelectListItem>)ViewBag.CustomerCodes)
          }
          else
          {
            @Html.TextBoxFieldFor(p => p.CustomerCode)
          }
          <dl class="row">
            <dt class="label"></dt>
            <dd class="field">
              @if (QPConfiguration.Options.ExternalAuthentication.AllowLoginWithCredentials)
              {
                <input type="submit" id="Login" name="Login" value="@LogOnStrings.Button_Login" onclick="UpdateActionUrl(this);" />
              }
              @if (QPConfiguration.Options.ExternalAuthentication.ShowSsoButton)
              {
                <input type="submit" id="SSO" name="SSO" value="SSO" onclick="form.action='/LogOn/KeyCloakSSO'; UpdateActionUrl(this);" />
              }
              @Html.ValidationSummary(LogOnStrings.ErrorSummary_AuthenticationErrors)
            </dd>
          </dl>
        </div>
      }
    </div>
  </div>

  <script src="@Url.Content("~/Scripts/build/vendors-logon.js?sha=" + version)"></script>
  <script src="@Url.Content("~/Scripts/build/app-logon.js?sha=" + version)"></script>
  <script>
    const login = new Quantumart.QP8.BackendLogin({useSavedCustomerCode: @Model.UseAutoLogin.ToString().ToLowerInvariant()});

    function UpdateActionUrl(button) {
      let actionUrl = button.form.action;
      const parts = actionUrl.split('?');
      const urlParts = window.location.href.split('?');
      let query = [];

      if (parts.length > 1) {
        query = parts[1].split('&');
      }

      if (urlParts.length > 1) {
        const queryParts = urlParts[1].split('&');
        queryParts.forEach((part) => query.push(part));
      }

      if (query.length > 0) {
        actionUrl = parts[0] + '?' + query.join('&');
      }

      button.form.action = actionUrl;
      button.form.submit();
    }
  </script>
</body>
