@using Quantumart.QP8.Resources
@model Quantumart.QP8.BLL.LogOnCredentials

<div id="page" class="loginFormLayout">
    <div id="content" class="content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "auth" }))
        {
            <div class="formLayout">
                @Html.TextBoxFieldFor(p => p.UserName)
                @Html.PasswordFieldFor(p => p.Password)
                @if (ViewBag.AllowSelectCustomerCode)
                {
                    @Html.SelectFieldFor(p => p.CustomerCode, (IEnumerable<QPSelectListItem>)ViewBag.CustomerCodes)
                }
                else
                {
                    @Html.TextBoxFieldFor(p => p.CustomerCode)
                }

                <dl class="row">
                    <dt class="label"></dt>
                    <dd class="field">
                        <input type="submit" id="Login" name="Login" value="@LogOnStrings.Button_Login" />
                        <img id="authLoading" src="@Url.Content(@"~/Content/build/QP8/icons/ajax_loaders/circle_ball.gif")" />
                        <br />

                        @Html.ValidationSummary(LogOnStrings.ErrorSummary_AuthenticationErrors)
                    </dd>
                </dl>

                @Html.HiddenFor(p => p.IsSilverlightInstalled)
                @Html.HiddenFor(p => p.UseAutoLogin)
            </div>
        }
    </div>
</div>
