@model  VisualEditorPluginViewModel

@using Quantumart.QP8.WebMvc.ViewModels.VisualEditor
@using Quantumart.QP8.Resources

<script type="text/html" id="@Html.UniqueId("VeCommandsDisplay_template")">
  <span data-bind="click: addItem">
    @Html.SimpleAddActionLink(VisualEditorStrings.AddNewVisualEditorCommand)
  </span>
  <table>
    <thead>
      <tr>
        <td/>
        <td>@VisualEditorStrings.HeaderName</td>
        <td>@VisualEditorStrings.HeaderAlias</td>
        <td></td>
      </tr>
    </thead>
    <tbody data-bind ="foreach: items">
      <tr>
        <td data-bind="text: $index() + 1"></td>
        <td><input data-bind="value: Name, event: { change: $root.onItemChanged }, css: { 'input-validation-error': Invalid}"></td>
        <td><input data-bind="value: Alias, event: { change: $root.onItemChanged }, css: { 'input-validation-error': Invalid}"></td>
        <td><img src="@Url.Content("~/Content/qp8/icons/16x16/delete.gif")" data-bind="click: $root.removeItem"/></td>
      </tr>
    </tbody>
  </table>
</script>


@using (Html.BeginTabForm(Model))
{
  using (Html.BeginFieldGroup(NotificationStrings.BasicParameters))
  {
    @Html.TextBoxFieldFor(s => s.Data.Name)
    @Html.TextAreaFieldFor(s => s.Data.Description)
    @Html.TextBoxFieldFor(s => s.Data.Url)
    @Html.NumericFieldFor(s => s.Data.Order, 0)
    @Html.AggregationListFieldFor(s => s.VeCommandsDisplay, Model.VeCommandsDisplay, "Alias,Name")
  }

  @Html.Partial("Version", Model.Data)
  @Html.Partial("EntityDirectLink", Model)
}

@Html.PrepareAndRunInitScript(Model)
