@using Quantumart.QP8.WebMvc.ViewModels
@model ImportFieldGroupViewModel

@using (Html.BeginFieldGroup(Model.Name))
{
	<div>
	@foreach (var item in Model.Fields)
	{
		<select class="dropDownList dataList fields"
				name="@(ImportViewModel.FieldPrefix + item.Value)"
				data-required="@item.Required"
				data-identifier="@item.IsIdentifier"
				data-aggregated="@item.IsAggregated"
				data-broken-integrity="@item.BrokenDataIntegrity"></select>
		<span style="display:none;">@item.Text</span>
		<span class="relatedFieldsArray">@item.Description</span>
		if (item.Required || item.IsIdentifier)
		{ <span class="star">*</span> }
	}
	@foreach (var group in Model.Groups)
	{
		@Html.Partial("~/Views/Shared/MultistepSettingsTemplates/_ImportFieldGroupTemplate.cshtml", group);
	}
	</div>
}