@using Quantumart.QP8.WebMvc.ViewModels.MultistepSettings
@model Quantumart.QP8.WebMvc.ViewModels.MultistepSettings.ImportFieldGroupViewModel

@using (Html.BeginFieldGroup(Model.Name))
{
  <div class="import-field-group-container">
  @foreach (var item in Model.Fields)
  {
      <div class="select-block-container">
        <select class="dropDownList dataList fields"
                id="@Html.UniqueId("mapping_" + ImportViewModel.FieldPrefix + item.Value))"
                name="@(ImportViewModel.FieldPrefix + item.Value)"
                data-required="@item.Required"
                data-identifier="@item.IsIdentifier"
                data-aggregated="@item.IsAggregated"></select>

        <span style="display:none;">@item.Text</span>
        <span class="select-description">@item.Description</span>

        @if (item.Required || item.IsIdentifier)
        {
          <span class="star">*</span>
        }
      </div>
  }

  @foreach (var group in Model.Groups)
  {
    <partial name="~/Views/Shared/MultistepSettingsTemplates/_ImportFieldGroupTemplate.cshtml" model="group" />
  }
  </div>
}
