@model ArticleListViewModel

@using Quantumart.QP8.WebMvc.ViewModels

@using (Html.BeginDocumentPadding())
{
    using (Html.BeginLinkButtonsList())
    {
        if (Model.ShowAddNewItemButton && !Model.IsReadOnly)
        {
            @Html.AddNewItemLink(Model)
        }

        @Html.SelectAllLink(Model)
        @Html.UnselectLink(Model)
        <li class="doctab-title__element doctab-title__articles-count-label">Total selected articles: <span id="@Model.ArticlesCountId" class="selected-articles-count">0</span></li>
    }

    @Html.ArticleGrid(Model)
}

@Html.InitScript(Model)
@Html.Telerik().ScriptRegistrar().DefaultGroup(g => g.Enabled(false))
