@using Quantumart.QP8.BLL.ListItems
@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.Article.ArticleStatusHistoryListViewModel

@using (Html.BeginDocumentPadding())
{
  <div id="@Model.MainComponentId"></div>
  <script>
    $(function () {
      $('#@Model.MainComponentId').qpGrid({
        columns: [
          { field: 'Id', title: '@EntityObjectStrings.ID', attributes: { 'class': 'id' }, width: 50 },
          { field: 'StatusTypeName', title: '@ArticleStrings.Status', width: 100, attributes: { 'class': 'isCentered' }, headerAttributes: { 'class': 'isCentered' } },
          { field: 'SystemStatusTypeName', title: '@AuditStrings.SystemStatus', attributes: { 'class': 'isCentered' }, headerAttributes: { 'class': 'isCentered' } },
          { field: 'ActionMadeBy', title: '@EntityObjectStrings.LastModifiedBy', width: 150, attributes: { 'class': 'isCentered' }, headerAttributes: { 'class': 'isCentered' } },
          { field: 'Comment', title: '@ArticleStrings.Comments' },
        ],
        dataSource: {
          transport: {
            read: {
              url: "@Url.Action(Model.DataBindingActionName, Model.DataBindingControllerName, new { tabId = Model.TabId, parentId = Model.ParentEntityId } )",
            },
          },
          pageSize: @Default.GridPageSize,
        },
      });
    });
  </script>
}

@Html.PrepareAndRunInitScript(Model)
