@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.Article.ArticleListViewModel

@using (Html.BeginDocumentPadding())
{
  using (Html.BeginLinkButtonsList())
  {
    if (!Model.IsReadOnly && Model.ShowAddNewItemButton)
    {
      @Html.AddNewItemLink(Model)
    }

    <li class="doctab-title__element doctab-title__articles-count-label--selected">@ArticleStrings.TotalSelectedArticles: <span id="@Model.ArticlesCountId" class="selected-articles-count">0</span></li>
    <li class="doctab-title__element doctab-title__articles-count-label">@ArticleStrings.SearchBlock_FullTextBlockSearchResultLimitTitle: <span class="total-articles-count">@ArticleFullTextSearchSettings.SearchResultLimit</span></li>
  }

  <div class="t-widget t-treeview t-reset @Model.TreeСssClass" id="@Model.MainComponentId"></div>
  <script type="text/javascript">
    $('#@Model.MainComponentId').tTreeView();
  </script>
}

@Html.PrepareAndRunInitScript(Model)
