@model ArticleListViewModel

@using Quantumart.QP8.Resources
@using Quantumart.QP8.WebMvc.ViewModels

@using (Html.BeginDocumentPadding())
{
    using (Html.BeginLinkButtonsList())
    {
        if (!Model.IsReadOnly && Model.ShowAddNewItemButton)
        {
            @Html.AddNewItemLink(Model)
        }

        <li class="doctab-title__element doctab-title__articles-count-label">@ArticleStrings.TotalSelectedArticles: <span id="@Model.ArticlesCountId" class="selected-articles-count">0</span></li>
    }

    @Html.Telerik().TreeView().Name(Model.MainComponentId).HtmlAttributes(Model.TreeHthmlAttributes);
}

@Html.InitScript(Model)
