@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.PageTemplate.PageTemplateListViewModel

@using (Html.BeginDocumentPadding())
{
  if (!Model.IsReadOnly && Model.ShowAddNewItemButton)
  {
    using (Html.BeginLinkButtonsList())
    {
      @Html.AddNewItemLink(Model)
    }
  }

  <div id="@Model.MainComponentId"></div>
  <script>
    $(function () {
      $('#@Model.MainComponentId').qpGrid({
        columns: [
          {
            field: 'Id',
            title: '@EntityObjectStrings.ID',
            attributes: { 'class': 'id' },
            width: 30,
          },
          {
            field: 'IsSystem',
            headerTemplate: '',
            template: '<img class="smallIcon" # if (IsSystem) { # src="@Url.Content("~/Content/qp8/icons/16x16/template1.gif")" # } else { # src="@Url.Content("~/Content/qp8/icons/16x16/template0.gif")" # } # />',
            width: 15,
          },
          {
            field: 'LockedBy',
            headerAttributes: { 'class': 't-image-header' },
            headerTemplate: '<img src="@Url.GetThemeRootImageFolderUrl()/grid/header_icons/lock.gif" style="width: 16px; height: 16px;" class="t-image" alt="" />',
            attributes: { 'style': 'text-align: center;' },
            template: '<img src="@Url.GetThemeSmallIconsImageFolderUrl()/#= LockedByIcon #" title="#= LockedByToolTip #" class="smallIcon" />',
            width: 30,
          },
          { field: 'Name', title: '@EntityObjectStrings.Name', attributes: { 'class': 'title' } },
          { field: 'Folder', title: '@TemplateStrings.Folder' },
          { field: 'Description', title: '@EntityObjectStrings.Description' },
          { field: 'Created', title: '@EntityObjectStrings.Created' },
          { field: 'Modified', title: '@EntityObjectStrings.Modified' },
          { field: 'LastModifiedByUser', title: '@EntityObjectStrings.LastModifiedBy' },
        ],
        dataSource: {
          transport: {
            read: {
              url: "@Url.Action(Model.GettingDataActionName, "PageTemplate", new { tabId = Model.TabId, parentId = Model.ParentEntityId } )",
            },
          },
          pageSize: @Default.GridPageSize,
        },
      });
    });
  </script>
}

@Html.PrepareAndRunInitScript(Model)
