@using Quantumart.QP8.BLL.ListItems
@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.Field.FieldSelectableListViewModel

@using (Html.BeginDocumentPadding())
{

  if (!Model.IsReadOnly && Model.ShowAddNewItemButton)
  {
    using (Html.BeginLinkButtonsList())
    {
      @Html.AddNewItemLink(Model)
    }
  }

  <div id="@Model.MainComponentId"></div>
  <script>
    $(function () {

      var bodyIconTpl = function (settings) {
        return function (dataItem) {
          return '<img ' +
            'src="' +
            '@Url.GetThemeSmallIconsImageFolderUrl()' + '/' + dataItem[settings.src] + '"' +
            'class="smallIcon"' +
            'title="' + (dataItem[settings.title] || dataItem[settings.src]) + '"'
            '/>';
        };
      };

     $('#@Model.MainComponentId').qpGrid({
        columns: [
          {
              field: '',
              headerTemplate: '<input type="checkbox" name="SelectHeader" value="" />',
              headerAttributes: { 'class': 't-select-header' },
              template: '<input type="checkbox" name="selectedContentIDs" value="#:Id#" />',
              sortable: false,
              attributes: { 'class': 't-select-cell' },
              width: 35
          },
          { field: 'Id', title: '@EntityObjectStrings.ID', attributes: { 'class': 'id' }, width: 30 },
          {
            field: 'TypeCode',
            title: '',
            attributes: { 'style': 'text-align: center;' },
            template: bodyIconTpl({ src: 'TypeIcon', title: 'Type' }),
            width: 30
          },
          { field: 'ContentName', title: '@TemplateStrings.Content', attributes: { 'class': 'title' } },
          { field: 'FieldName', title: '@EntityObjectStrings.Name', attributes: { 'class' : 'title' } },
          { field: 'FriendlyName', title: '@FieldStrings.FriendlyName' },
          { field: 'Description', title: '@EntityObjectStrings.Description' },
          { field: 'TypeName', title: '@FieldStrings.FieldType' },
          { field: 'Size', title: '@FieldStrings.SizeTitle' },
          {
            field: 'Required',
            title: '@FieldStrings.Required',
            template: '<input type="checkbox" disabled="disabled" checked="#:Required#" />',
            attributes: { 'class': 'isCentered' },
            headerAttributes: { 'class': 'isCentered' },
          },
          {
            field: 'Indexed',
            title: '@FieldStrings.Indexed',
            template: '<input type="checkbox" disabled="disabled" checked="#:Indexed#" />',
            attributes: { 'class': 'isCentered' },
            headerAttributes: { 'class': 'isCentered' },
           },
           {
            field: 'MapAsProperty',
            title: '@FieldStrings.MapAsProperty',
            template: '<input type="checkbox" disabled="disabled" checked="#:MapAsProperty#" />',
            attributes: { 'class': 'isCentered' },
            headerAttributes: { 'class': 'isCentered' },
          },
          {
            field: 'ViewInList',
            title: '@FieldStrings.ViewInList',
            template: '<input type="checkbox" disabled="disabled" checked="#:ViewInList#" />',
            attributes: { 'class': 'isCentered' },
            headerAttributes: { 'class': 'isCentered' },
           },
           { field: 'Created', title: '@EntityObjectStrings.Created' },
           { field: 'Modified', title: '@EntityObjectStrings.Modified' },
           { field: 'LastModifiedByUser', title: '@EntityObjectStrings.LastModifiedBy' },
        ],
        dataSource: {
          transport: {
            read: {
              url: "@Url.Action(Model.GetDataAction, "Field", new { tabId = Model.TabId, parentId = Model.ParentEntityId, id = string.Join(",", Model.SelectedIDs) })"
            },
          },
          pagesize: '@Default.GridPageSize',
        },
      });
    });
  </script>
}

@Html.PrepareAndRunInitScript(Model)
