@using Quantumart.QP8.BLL.Services.DTO
@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.User.UserListViewModel

@using (Html.BeginDocumentPadding())
{
  if (Model.ShowAddNewItemButton)
  {
    using (Html.BeginLinkButtonsList())
    {
      @Html.AddNewItemLink(Model)
    }
  }
  <div id="@Model.MainComponentId"></div>
  <script>
    $(function () {
      var bodyIconTpl = function (settings) {
        return function (dataItem) {
          return '<img ' +
            'src="' +
            '@Url.GetThemeSmallIconsImageFolderUrl()' + dataItem[settings.icon] + '"' +
            'style="width: 16px; height: 16px;"' +
            'class="t-image"' +
            'title="' + (dataItem[settings.tooltip] || dataItem[settings.icon]) + '"' +
            'alt="' + (dataItem[settings.tooltip] || dataItem[settings.icon]) + '"' +
            '/>';
        };
      };
      $(`#${'@Model.MainComponentId'}`).qpGrid({
        columns: [
          { field: 'Id', title: '@EntityObjectStrings.ID', attributes: { 'class': 'id' }, width: 50 },
          {
            field: 'Disabled',
            title: ' ',
            template: bodyIconTpl({ icon: 'DisabledIcon', tooltip: 'DisabledText' }),
            attributes: { 'class': 'isCentered' },
            width: 50
          },
          { field: 'Login', title: '@UserStrings.Login', attributes: { 'class': 'title' } },
          { field: 'FirstName', title: '@UserStrings.FirstName' },
          { field: 'LastName', title: '@UserStrings.LastName' },
          { field: 'Email', title: '@UserStrings.Email' },
          { field: 'Language', title: '@UserStrings.Language' },
          { field: 'LastLogOn', title: '@UserStrings.LastLogOn' },
          { field: 'Created', title: '@EntityObjectStrings.Created' },
          { field: 'Modified', title: '@EntityObjectStrings.Modified' },
          { field: 'LastModifiedByUser', title: '@EntityObjectStrings.LastModifiedBy' },
        ],
        dataSource: {
          transport: {
            read: {
              url: "@Url.Action(Model.GettingDataActionName, "User", new { tabId = Model.TabId, parentId = Model.ParentEntityId } )",
            },
          },
          pageSize: @Default.GridPageSize,
        },
      });
    });
  </script>
}

@Html.PrepareAndRunInitScript(Model)
