@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.User.UserSelectableListViewModel

@using (Html.BeginDocumentPadding())
{
  <div id="@Model.MainComponentId"></div>
  <script>
    $(function () {
      var bodyIconTpl = function (settings) {
        return function (dataItem) {
          return '<img ' +
            'src="' +
            '@Url.GetThemeSmallIconsImageFolderUrl()' + dataItem[settings.icon] + '"' +
            'style="width: 16px; height: 16px;"' +
            'class="t-image"' +
            'title="' + (dataItem[settings.tooltip] || dataItem[settings.icon]) + '"' +
            'alt="' + (dataItem[settings.tooltip] || dataItem[settings.icon]) + '"' +
            '/>';
        };
      };
      $(`#${'@Model.MainComponentId'}`).qpGrid({
        columns: [
          @if (Model.IsMultiple)
          {
            <text>
              {
                field: '',
                headerTemplate: '<input type="checkbox" name="SelectHeader" value="" />',
                headerAttributes: { 'class': 't-select-header' },
                template: '<input type="checkbox" name="selectedUserIDs" value="#:Id#" />',
                sortable: false,
                attributes: { 'class': 't-select-cell' },
                width: 35,
              },
            </text>
          }
          { field: 'Id', title: '@EntityObjectStrings.ID', attributes: { 'class': 'id' }, width: 50 },
          {
            field: 'Disabled',
            title: ' ',
            template: bodyIconTpl({ icon: 'DisabledIcon', tooltip: 'DisabledText' }),
            attributes: { 'class': 'isCentered' },
            width: 50
          },
          { field: 'Login', title: '@UserStrings.Login', attributes: { 'class': 'title' } },
          { field: 'FirstName', title: '@UserStrings.FirstName' },
          { field: 'LastName', title: '@UserStrings.LastName' },
          { field: 'Email', title: '@UserStrings.Email' },
        ],
        dataSource: {
          transport: {
            read: {
              url: "@Url.Action(Model.GettingDataActionName, "User", new { tabId = Model.TabId, parentId = Model.ParentEntityId } )",
            },
          },
          pageSize: @Default.GridPageSize,
        },
      });
    });
  </script>
}

@Html.PrepareAndRunInitScript(Model)
