@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.UserSearchBlockViewModel

<div class="userSearchBlock">
	<div>
		<fieldset>
			<legend>@UserStrings.Login</legend>
			<div>
				@Html.TextBox(Model.LoginElementId, string.Empty, new { @class = "textbox login csFilterTextbox" })
			</div>
		</fieldset>
		<fieldset>
			<legend>@UserStrings.Email</legend>
			<div>
				@Html.TextBox(Model.EmailElementId, string.Empty, new { @class = "textbox email csFilterTextbox" })
			</div>
		</fieldset>
	</div>

	<div>
		<fieldset>
			<legend>@UserStrings.FirstName</legend>
			<div>
				@Html.TextBox(Model.FirstNameElementId, string.Empty, new { @class = "textbox firstName csFilterTextbox" })
			</div>
		</fieldset>
		<fieldset>
			<legend>@UserStrings.LastName</legend>
			<div>
				@Html.TextBox(Model.LastNameElementId, string.Empty, new { @class = "textbox lastName csFilterTextbox" })
			</div>
		</fieldset>
	</div>

</div>
