@using Quantumart.QP8.Resources
@using Quantumart.QP8.Constants
@model Quantumart.QP8.WebMvc.ViewModels.Audit.ButtonTraceAreaViewModel

@using (Html.BeginDocumentPadding())
{
  <div id="@Model.MainComponentId" class="alMainContaner">
    <div id="@Model.GridElementId"></div>
    <script>
      $(function () {
        $('#@Model.GridElementId').qpGrid({
          selectable: false,
          autoBind: true,
          columns: [
            { field: 'ButtonName', title: '@AuditStrings.ButtonName' },
            { field: 'TabName', title: '@AuditStrings.TabName' },
            { field: 'ActivatedTime', title: '@AuditStrings.ExecutionTime' },
            { field: 'UserLogin', title: '@AuditStrings.UserLogin' },
          ],
          dataSource: {
            transport: {
              read: {
                url: "@Url.Action("_ButtonTrace", "ActionLog")",
              }
            },
            pageSize: @Default.GridPageSize,
          },
        })
      });
    </script>
  </div>
}

@Html.PrepareAndRunInitScript(Model)
