@using Quantumart.QP8.Resources
@using Quantumart.QP8.Constants
@model Quantumart.QP8.WebMvc.ViewModels.Audit.RemovedEntitiesAreaViewModel

@using (Html.BeginDocumentPadding())
{
  <div id="@Model.MainComponentId" class="alMainContaner">
    <div id="@Model.GridElementId"></div>
    <script>
      $(function () {
        $('#@Model.GridElementId').qpGrid({
          selectable: false,
          autoBind: true,
          columns: [
            { field: 'EntityId', title: '@AuditStrings.EntityStringId' },
            { field: 'EntityTypeCode', title: '@AuditStrings.EntityTypeName' },
            { field: 'EntityTitle', title: '@AuditStrings.EntityTitle' },
            { field: 'ParentEntityId', title: '@AuditStrings.ParentEntityId' },
            { field: 'UserLogin', title: '@AuditStrings.UserLogin' },
            { field: 'DeletedTime', title: '@AuditStrings.ExecutionTime' },
          ],
          dataSource: {
            transport: {
              read: {
                url: "@Url.Action("_RemovedEntities", "ActionLog")",
              }
            },
            pageSize: @Default.GridPageSize,
          },
        })
      });
    </script>
  </div>
}

@Html.PrepareAndRunInitScript(Model)
