@using Quantumart.QP8.Resources
@using Quantumart.QP8.Constants
@model Quantumart.QP8.WebMvc.ViewModels.Audit.SucessfullSessionsAreaViewModel

@using (Html.BeginDocumentPadding())
{
  <div id="@Model.MainComponentId" class="alMainContaner">
    <div id="@Model.GridElementId"></div>
    <script>
      $(function () {
        $('#@Model.GridElementId').qpGrid({
          selectable: false,
          autoBind: true,
          columns: [
            { field: 'Login', title: '@AuditStrings.UserLogin' },
            { field: 'StartTime', title: '@AuditStrings.SessionStartTime' },
            { field: 'EndTime', title: '@AuditStrings.SessionEndTime' },
            { field: 'Duration', title: '@AuditStrings.Duration', sortable: false },
            {
              field: 'AutoLogged',
              title: '@AuditStrings.AutoLogged',
              template: '<input type="checkbox" disabled="disabled" # AutoLoggedChecked # />'
            },
            { field: 'IP', title: '@AuditStrings.IP' },
            { field: 'Browser', title: '@AuditStrings.Browser' },
            { field: 'ServerName', title: '@AuditStrings.ServerName' },
            {
              field: 'IsQP7',
              title: '@AuditStrings.IsQP7',
              template: '<input type="checkbox" disabled="disabled" # IsQP7Checked # />'
            },
          ],
          dataSource: {
            transport: {
              read: {
                url: "@Url.Action("_SucessfullSessions", "ActionLog")",
              }
            },
            pageSize: @Default.GridPageSize,
          },
        })
      });
    </script>
  </div>
}

@Html.PrepareAndRunInitScript(Model)

