@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.PageTemplate.ObjectFormatListViewModel

@using (Html.BeginDocumentPadding())
{
  if (!Model.IsReadOnly && Model.ShowAddNewItemButton)
  {
    using (Html.BeginLinkButtonsList())
    {
      @Html.AddNewItemLink(Model)
    }
  }
  <div id="@Model.MainComponentId"></div>
  <script>
    $(function () {
      $('#@Model.MainComponentId').qpGrid({
        columns: [
          { field: 'Id', title: '@EntityObjectStrings.ID', attributes: { 'class': 'id' }, width: 30 },
          {
            field: '',
            title: '',
            width: 15,
            template: '<img class="smallIcon" src="@(Url.Content("~/Content/qp8/icons/16x16/page_object_format.gif"))" />',
          },
          {
            field: 'LockedBy',
            headerTemplate: '<img src="@(Url.GetThemeRootImageFolderUrl())/grid/header_icons/lock.gif" style="width: 16px; height: 16px;" class="t-image" alt="" />',
            headerAttributes: { 'class': 't-image-header' },
            template: '<img src="@(Url.GetThemeSmallIconsImageFolderUrl())/#= LockedByIcon #" title="#= LockedByToolTip #" class="smallIcon" />',
            attributes: { 'style': 'text-align: center;' },
            width: 30,
          },
          { field: 'Name', title: '@EntityObjectStrings.Name', attributes: { 'class': 'title' } },
          { field: 'Description', title: '@EntityObjectStrings.Description' },
          {
            field: 'IsDefault',
            title: '@TemplateStrings.Default',
            sortable: false,
            template: '<input type="radio" disabled="disabled" # if (IsDefault) { # checked="checked" # } # />',
          },
          { field: 'Created', title: '@EntityObjectStrings.Created' },
          { field: 'Modified', title: '@EntityObjectStrings.Modified' },
          { field: 'LastModifiedByLogin', title: '@EntityObjectStrings.LastModifiedBy' },
        ],
        dataSource: {
          transport: {
            read: {
              url: '@Url.Action(Model.GettingDataActionName, "Format", new { tabId = Model.TabId, parentId = Model.ParentEntityId } )',
            },
          },
          pageSize: @Default.GridPageSize,
        },
      });
    });
  </script>
}

@Html.PrepareAndRunInitScript(Model)
