@model QP8.TestCustomActionsHost.Models.BackendActionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<h3>HostId: @Model.HostUid</h3>
<button id="btnOpenAction" title="Open">Open</button>

<script src="~/Scripts/json2.js"></script>
<script src="~/Scripts/pmrpc.js"></script>
<script src="~/Scripts/QP8BackendApi.Interaction.js"></script>
<script>
  $(function () {
    var backendWnd = window.parent;
    Quantumart.QP8.Interaction.checkHost("@Model.HostUid", backendWnd, function (args) {
      //{ success: true, hostVersion: ... } или { success: false, error: ... }
      if (args.success) {
        var backendObserver = new Quantumart.QP8.Interaction.BackendEventObserver("ooooo", function (eventType, args) {
          window.console.log([eventType, args]);
        });

        var executeOptions = new Quantumart.QP8.Interaction.ExecuteActionOptions();
        executeOptions.actionCode = "@Model.ActionCode";
        executeOptions.entityTypeCode = "@Model.EntityTypeCode";
        executeOptions.entityId = "@Model.EntityId";
        executeOptions.parentEntityId = "@Model.ParentEntityId";
        executeOptions.actionUID = "@Model.ActionCode";
        executeOptions.callerCallback = backendObserver.callbackProcName;

        executeOptions.options = new Quantumart.QP8.Interaction.ArticleFormState();
        executeOptions.options.currentContext = "2508";
        $("#btnOpenAction").click(function () {
          executeOptions.changeCurrentTab = false;
          executeOptions.isWindow = $("#chbInWindow").is(':checked');
          Quantumart.QP8.Interaction.executeBackendAction(executeOptions, "@Model.HostUid", backendWnd);
        });
      } else {
        window.alert("Backend недоступен: " + args.error);
      }
    });
  });
</script>
