@using Quantumart.QP8.Resources

<div class="row">
	@Html.QpRadioButtonList((string)ViewBag.ByValueElementID,
	new[]
	{
		new QPSelectListItem
		{
			Text = ArticleStrings.SearchBlock_ByValue,
			Selected = true,
			Value = "0"
		},
		new QPSelectListItem
		{
			Text = ArticleStrings.SearchBlock_ByList,
			Selected = false,
			Value = "1"
		}

	},
	new ControlOptions {Enabled = true}
	)
</div>

<dl class="row">
  <dt class="label">
    @Html.QpLabel((string)ViewBag.TextBoxElementID, ArticleStrings.SearchBlock_Text)
  </dt>
  <dd class="field">
    @Html.QpTextBox((string)ViewBag.TextBoxElementID, "",
        new Dictionary<string, object>
        {
            { "class", "textbox"}
        })
  </dd>
</dl>

<dl class="row" style="display:none;">
 <dt class="label">
	@Html.QpLabel((string)ViewBag.ListTextElementID, ArticleStrings.SearchBlock_ListText)
  </dt>
  <dd class="field">
    @Html.QpTextArea((string)ViewBag.ListTextElementID, "",
	    new Dictionary<string, object>
	    {
            { "class", "identifier-list"}
	    })
  </dd>
</dl>

<dl class="row">
  <dt class="label"></dt>
  <dd class="field">
    <span class="checkbox">
      @Html.QpCheckBox((string)ViewBag.InverseCheckBoxElementID, null, false, new Dictionary<string, object>())
      @Html.QpLabel((string)ViewBag.InverseCheckBoxElementID, ArticleStrings.SearchBlock_InverseCheckBoxLabelText, false)
    </span>
  </dd>
</dl>

<dl class="row">
  <dt class="label"></dt>
  <dd class="field">
    <span class="checkbox">
      @Html.QpCheckBox((string)ViewBag.IsNullCheckBoxElementID, null, false, new Dictionary<string, object>())
      @Html.QpLabel((string)ViewBag.IsNullCheckBoxElementID, ArticleStrings.SearchBlock_IsNullCheckBoxLabelText, false)
    </span>
  </dd>
</dl>

<dl class="row">
  <dt class="label"></dt>
  <dd class="field">
    <span class="checkbox">
      @Html.QpCheckBox((string)ViewBag.ExactMatchCheckBoxElementID, null, false, new Dictionary<string, object>())
      @Html.QpLabel((string)ViewBag.ExactMatchCheckBoxElementID, ArticleStrings.SearchBlock_ExactMatchBoxLabelText, false)
    </span>
  </dd>
</dl>

<dl class="row">
  <dt class="label"></dt>
  <dd class="field">
    <span class="checkbox">
      @Html.QpCheckBox((string)ViewBag.StartBeginningCheckBoxElementID, null, false, new Dictionary<string, object>())
      @Html.QpLabel((string)ViewBag.StartBeginningCheckBoxElementID, ArticleStrings.SearchBlock_StartBeginningCheckBoxLabelText, false)
    </span>
  </dd>
</dl>


